@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap');

body {
    font-family: Overpass;
    background-color: #f6f7fb;
    font-size: 20px;
    margin:0;
}

.links-navegacion {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
    align-items: center;
    
   
  }

  .links-navegacion li {
    margin: 20px;
    
  }
  
.primeraseccion {
    display:flex;
    align-items: center;         
    max-width: 1100px;
    padding: 100px;
    
}

.titulo1{
    font-family: "Lemonada";
    color: #2e2e31;

}

.tituloprincipal {
    color:rgb(97, 97, 238);
    font-size: 50px;
    font-family:Rowdies;

}

.descripcion {
    color: rgb(148, 142, 142);
    font-family: 'Courier New', Courier, monospace;
}


button {
    background-color: #04d2f7;
    color: rgb(110, 108, 110);
    padding: 15px 40px;
    border-radius: 100px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    border:0px;
}


.representacion {
    display: block;
    width: 400px;

}
   

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    text-align: center;
}
p {
    font-size: 25px;
    text-align: center;
}

.contenedor-imagen {
    display: flex;
    justify-content: space-between;
}
.tarjetas {
   background-color: white;
   border: 1px solid grey ;
   border-radius: 25px;
   text-align: center;
   padding: 20px;
    height: 200px;
    width: 200px; 

   
}

.contenedor{
    background-color: rgb(244, 244, 247);
    border: 5px solid rgb(244, 244, 247);
    text-align: center;
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 30px;
    
}

.frase {
    background-color:hotpink;
    text-align: center;
    padding: 60px;
}  

p {
    font-family: "josefin sans";
}

h1 {
    font-size: 40px;
    text-align: center;
    
}
.links-segunda-barra{
    display: flex;
    padding: 20px;
    justify-content: center;
    justify-items:center;
    list-style-type: none;
    margin-right: 20px;
    box-shadow: none;
    
 
}

button.casi-barra {
    background-color: white;
    
}
.trabajosrealizados {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    
  
 
    
}
    

.primeraimagen {  
   
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    display: inline-block;
    text-align: center;
      
}

