@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f6f7fb;
}

.links-navegacion {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
  }

.links-navegacion li {
    margin: 20px;
  }
  
.primeraseccion {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h3{
    text-align: center;
}

.img {
    display: block;
    width: 100%;
}
   


.tituloprincipal {
    color:rgb(51, 51, 230);
    font-size: 50px;
    font-family:Rowdies;

}

