@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive&display=swap');

/*ESTILOS GENERALES*/
html {
    scroll-behavior: smooth;
}
body {
    font-family: "Overpass";
    background-color: #f6f7fb;
    font-size: 20px;
    margin:0;
    
}
/* ESTILOS A LA BARRA DE NAVEGACION*/

.primeras-elecciones {
    height: 100px;
}

.links-navegacion {
    display: flex;
    height: 100px;
    list-style-type: none;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0 29px 0 rgba(134, 134, 134, 0.25);
    
}

.menu-hamburguesa {
    display: none;
}

  .links-navegacion li {
    margin: 20px;
       
  }

  button {
    background-color: #04d2f7;
    font-size: 18PX;
    color: white;
    padding: 15px 40px;
    border-radius: 100px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    border:0px;
    
}

button:hover {
    background-color: black;
    
}
/* FIN DE LA PRIMERA BARRA DE NAVEGACIÓN*/

/* PADRE DE LA PRIMERA SECCIÓN*/

.parte-1 {
    display: flex;
    flex-wrap: wrap;
   
    
}
  
.primera-seccion {
    
    display:flex;
    justify-content: center;
    align-items: center;         
    max-width: 1100px;
    padding: 30px;
       
    
}

a {
    text-decoration: none;
}
.titulo1{
    font-family: "Lemonada";
    color: #2e2e31;

}

.tituloprincipal {
    color:rgb(97, 97, 238);
    font-size: 80px;
    font-family:"Rowdies";

}

.descripcion {
    font-size: 25px;
}

.hola {
    
    height: 500px;
}
 
/*intente poner este estilo en la imagen (por eso tiene una clase) pero no podía lograr
que me quedaran las cosas ordenadas. Me rebalsa la imagen. Male mía jajaja.

.imagen-representacion {
    width: 100%;
    height: auto;
}
*/

.representacion {
    display: flex;
    width: 200px;
    height: auto;
    padding: 100px;

}



  /*FIN DE PRIMERA SECCIÓN*/ 

  /* SEGUNDA SECCIÓN CON TARJETAS*/

  .contenedor-caja-principal {

    
    background-color: #FFFCEB;
    padding: 15px;

  }

.mis-conocimientos {
    font-family: "Recursive";
    font-size: 30px;
    text-align: center;
}
.que-ponemos {
    font-size: 25px;
    text-align: center;
}

 /*INICIO DE TARJETAS*/

.contenedor-imagen {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px;
    
}

.tarjetas {
    background-color: white;
    border:1px solid #232631;
    border-radius: 8px;
    width: 260px;
    margin: 15px;
    padding: 30px;
    text-align: center;
    
}

.texto-abajo {
    font-size: 20px;
}

/*FIN DE LAS PRIMERAS TARJETAS*/

/*INICIO DE FRASE IDENTIFICATORIO*/


.frase {
    background-color:hotpink;
    text-align: center;
    padding: 110px 40px 130px;
    
}  

.albert {
    font-size: 30px;
    font-family: "Sriracha";
}

/*FIN DE SECCIÓN*/

/*INICIO DE SUBSECCIÓN CON TARJETAS DE PROYECTOS*/



h1 {
    font-size: 40px;
    text-align: center;
      
}

p {
    font-family: "josefin sans";
    font-size: 15px;
}

.links-segunda-barra{
    display: flex;
    margin:20px;
    justify-content:center;
    justify-items:center;
    list-style-type: none;
    margin-right: 20px;
    box-shadow: none; 
 
}

button.casi-barra {
    background-color: rgb(253, 252, 252);
    color:black;
    
}

.CONTENEDOR {
    
    height: auto;
    width: 100%;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    
    
    
}
.CONTENIDO {

    height: 250px;
    width: 200px;    
    background-color: white;
    border: 1px solid grey ;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
    margin: 10px;
    
   
     
   
}

.imagen-proyecto {
    width: 100%;
    height: auto;
}

.trabajosrealizados {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px;
  
    
}


.trabajos-realizados {
    height: 50px;
    width: 50px;
}

.primera-imagen {  
   
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    display: inline-block;
    text-align: center;
    
      
}

/*INICIO DEL FOOTER*/

footer {
    padding: 50px;
    text-align: center;
    background-color: rgb(184, 118, 245);
    margin:50px;
    height: 200px;
}

.lista-desordenada {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    padding: 20px;
    color: white;
    font-size: 20px;
    font-family: "josefin sans";
    list-style: none;
    
 
}

.fab, .fas {
    font-size: 30px;
    
        
}



.lista-desordenada li {
    margin-right: 20px;
}



@media (max-width:600px) {
     
.primeraseccion {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.menu-hamburguesa {
    display: block;
}

.links-navegacion li{
    display: none;
}

}

@media (max-width:900px) {
.contenedor {
    background-color: ;
    flex-direction: column;
    align-items: center;
}
}